* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0A0A0A;
  background-color: #FAFAFA;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #0A0A0A;
  --color-secondary: #737373;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FAFAFA;
  font-family: 'Inter', sans-serif;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}


